/* node_modules/xterm/css/xterm.css */
.xterm {
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.xterm.focus,
.xterm:focus {
  outline: none;
}
.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  z-index: 5;
}
.xterm .xterm-helper-textarea {
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -5;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}
.xterm .composition-view {
  background: #000;
  color: #FFF;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}
.xterm .composition-view.active {
  display: block;
}
.xterm .xterm-viewport {
  background-color: #000;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.xterm .xterm-screen {
  position: relative;
}
.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.xterm .xterm-scroll-area {
  visibility: hidden;
}
.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}
.xterm {
  cursor: text;
}
.xterm.enable-mouse-events {
  cursor: default;
}
.xterm.xterm-cursor-pointer {
  cursor: pointer;
}
.xterm.column-select.focus {
  cursor: crosshair;
}
.xterm .xterm-accessibility,
.xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
}
.xterm .live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.xterm-dim {
  opacity: 0.5;
}
.xterm-underline {
  text-decoration: underline;
}

/* app.css */
body {
  background-color: aliceblue;
}
.wrapper {
  margin: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  grid-template-rows: auto 50px;
  grid-template-areas: "terminal area" "cmd-in area";
}
#terminal {
  border: 5px rgb(9, 156, 214) solid;
  border-bottom: 0;
  padding: 8px;
  grid-area: terminal;
  border-radius: 20px 20px 0 0;
}
.cmd-in {
  grid-area: cmd-in;
  display: grid;
  grid-template-areas: "cmd-in-span cmd-in-input";
  grid-template-columns: 30px 1fr;
}
#cmdIn {
  grid-area: cmd-in-input;
  width: 100%;
  height: 100%;
  border: 5px rgb(9, 156, 214) solid;
  border-top: 0;
  border-left: 0;
  outline: none;
  background-color: #ffffff54;
  font-size: 120%;
  border-bottom-right-radius: 18px;
}
.cmd-in-span {
  grid-area: cmd-in-span;
  padding-left: 8px;
  font-size: 120%;
  font-weight: bold;
  color: red;
  border: 5px rgb(9, 156, 214) solid;
  border-top: 0;
  border-right: 0;
  line-height: 50px;
  border-bottom-left-radius: 18px;
}
#area {
  grid-area: area;
}
.cmds-in {
  display: flex;
  overflow: auto;
}
.cmds-in-item {
  margin-left: 10px;
}
.cmds-in-textarea {
  min-width: 200px;
  min-height: 200px;
  font-size: 120%;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  border: 5px rgb(9, 156, 214) solid;
  outline: none;
  overflow: auto;
  border-radius: 18px;
  padding: 8px;
}
